<header id="navigation" class="rounded-bottom">
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" routerLink="/accueil">
                <img src="assets/images/logo.png" alt="Lifiled"
                    class="img-fluid" width="111">
            </a>
            <button class="navbar-toggler" type="button" 
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" 
                aria-controls="offcanvasNavbar" style="background-color: #fff;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" 
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <img src="assets/images/logo.png" alt="Lifiled" 
                            class="img-fluid" width="111">
                    </h5>
                    <button type="button" class="btn" data-bs-dismiss="offcanvas" 
                        aria-label="Close">
                        <i class="bi bi-x-octagon fs-3 text-light"></i>
                    </button>
                </div>
                <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item mx-2" *ngFor="let data of navMenu">
                        <a class="nav-link fw-bold fs-6" [routerLink]="data.route"
                            routerLinkActive="active_menu"
                            [routerLinkActiveOptions]="{exact: true}">
                            {{ data.label | titlecase }}
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
      </nav>
</header>
<section>
    <div class="m-4 p-3"></div>
    <router-outlet></router-outlet>
</section>
<footer class="pt-5 pb-4 rounded-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="">
                    <img src="assets/images/logo.png" alt="Lifiled"
                        class="img-fluid" width="111">
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex align-items-center">
                        <i class="bi bi-mailbox mx-2 fw-bold fs-4"></i>
                        <span class="fw-bold">28 BP 942 Abidjan 28</span>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="bi bi-geo-alt mx-2 fw-bold fs-4"></i>
                        <span class="fw-bold">Cocody Riviera Palmeraie, Abidjan, Côte d'Ivoire</span>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="bi bi-telephone mx-2 fw-bold fs-4"></i>
                        <span class="fw-bold">+225 07 07 28 81 81 / +225 07 07 90 44 00</span>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 d-flex align-items-center flex-column" id="social_network">
                <div class="fs-4 fw-bold mb-3">Réseaux sociaux</div>
                <ul class="list-group position-relative">
                    <li class="list-group-item d-flex align-items-center"
                        *ngFor="let data of social_networks">
                        <i [class]="data.icone"></i>
                        <span class="">{{ data.label }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <div class="fs-4 fw-bold mb-3 text-center">Notre newsletter</div>
                <div class="my-3 text-center">Recevoir continuellement des informations concernant LIFILED</div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="email" class="form-control" 
                        placeholder="votre email" aria-label="email" 
                        aria-describedby="basic-addon1">
                    <button class="btn btn-outline-success">s'abonner</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 border-top my-4"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-12 text-center">© Copyright 2022, <span class="fw-bold">Lifiled</span></div>
        </div>
    </div>
</footer>