<section id="exellence" class="py-2">
    <div class="container-fluid">
      <div class="row">
          <h3 class="text-center py-2 fs-1 fw-bold text-center" style="color: #001e67e0;"> Distinctions </h3>
      </div>
      <div class="row">
        <div class="atout d-flex justify-content-between">
          <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h4 class="card-title text-center"> 1 er prix<br> EDF Pulse Africa <br> 2019 </h4> 
            </div>
          </div>
          <div class="card text-bg-info mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h4 class="card-title text-center"> 1 er prix<br> SeedStars World abidjan <br> 2019</h4>
            </div>
          </div>
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h4 class="card-title text-center"> Young sMes <br> people choice</h4>
            </div>
          </div>
          <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h4 class="card-title text center"> Young sMes <br> in technology </h4>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>
  
  <section id="photo" class="py-2">
      <div class="container-fluid">
          <div class="row">
              <h3 class="text-center py-2 fs-1 fw-bold text-center" style="color: #fff;"> Photographies</h3>
          </div>
          <div class="row">
              <div class="col-md-3">
                <img src="https://i.postimg.cc/0jKfBpyj/Whats-App-Image-2022-05-04-at-08-06-37.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3">
                <img src="https://i.postimg.cc/52BPJqqF/Whats-App-Image-2022-05-04-at-08-06-35.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3">
                <img src="https://i.postimg.cc/mD2p8z91/Whats-App-Image-2022-05-04-at-08-05-58.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3">
                <img src="https://i.postimg.cc/Zqz1F5j6/VILLAGE-2.jpg" class="img-fluid" alt="">
              </div>
          </div>
          <div class="row py-2">
            <div class="col-md-3">
              <img src="https://i.postimg.cc/pLFwFFQ2/VILLAGE-ENFANT.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-3">
              <img src="https://i.postimg.cc/2jXcz5pr/visuel-LIFILED.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-3">
              <img src="https://i.postimg.cc/FRVmJL4f/BRAHIMAKRO.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-3">
              <img src="https://i.postimg.cc/Z54QCMqL/Whats-App-Image-2022-09-27-at-14-37-59.jpg" class="img-fluid" alt="">
            </div>
        </div>
      </div>
  </section>
  
  
  <section id="video" class="py-2">
      <div class="container">
          <div class="row">
              <h1 class="text-center py-2 fs-1 fw-bold text-center" style="color: #fff;">Vidéothéque</h1>
          </div>
          <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card">
                  <iframe class="h-100 w-100" [src]="getSafeurl()" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <div class="card-body">
                    <h5 class="card-title text-uppercase"> histoire lifiled </h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <iframe  class="h-100 w-100" [src]="getSafeurl1()" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <div class="card-body">
                    <h5 class="card-title text-uppercase"> éléctrification rurale</h5>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </section>
  
  <section id="blog">
    <div class="container-fluid">
      <div class="row">
        <h3 class="text-center py-2 fs-1 fw-bold text-center" style="color: #001e67e0;"> BLOG&PRESSE</h3>
      </div>
    </div>
  </section>
  
