#exellence{
    background-color: #ffffff !important;
    font-family: 'SourceSansProBlack';
}

#photo {
    background-color: #011647d8;
    font-family: 'SourceSansProBlack';
    border: 1px solid #fff;
}

#video {
    background-color: #011647d8;
    font-family: 'SourceSansProBlack';
}

#blog{
    background-color: #fff;
    font-family: 'SourceSansProBlack';
}

p{
    font-family: 'SourceSansProBlack';
    color: #5e5e5e;
}

h5{
    color: #011647d8;
}