<section id="Localisation">
    <div class="container-fluid">
        <div class="row ">
          <iframe class="" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15888.633981540745!2d-3.9923845!3d5.3928034!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x685131eea2017119!2sLifi-Led%20C%C3%B4te%20d&#39;Ivoire!5e0!3m2!1sfr!2sci!4v1664899906920!5m2!1sfr!2sci"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
        </div>
    </div>

</section>

<section id="Demande de devis" class="py-5">
  <div class="container">
    <h3 class="fs-1 fw-bold text-center" style="color: #001e67e0;" > DEMANDE D'UN DEVIS</h3>
  </div>
  <form action="">
    <div class="row">
      <div class="col-md-6 col-sm">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
          <input type="text" class="form-control" placeholder="votre nom" >
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
          <input type="text" class="form-control" placeholder="votre prénom" >
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Prestations</label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choisir une prestation</option>
            <option value="1">Produits</option>
            <option value="2">Solutions</option>
            <option value="3">Activités</option>
          </select>
        </div>
        

      </div>
      <div class="col-md-6 col-sm">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="email" >
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
        </div>
        <div class="input-group mb-3">
          <input type="number" class="form-control" placeholder="Numero de télèphone" >
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
          
        </div>
        <div class="input-group mb-5">
          <input type="text" class="form-control" placeholder="Adresse zone Ex:Bingerville" >
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-home"></i></span>
          
        </div>
        
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-warning btn-lg text-uppercase" type="button"> envoyez </button>
    </div>
  </form>

</section>


<section id="Contact"></section>


