

#solution{
    background-color: #ffffff !important;
    font-family: 'SourceSansProBlack';
}

#produit {
    background-color: #011647d8;
    font-family: 'SourceSansProBlack';
}

#Activity {
    background-color: #011647d8;
    font-family: 'SourceSansProBlack';
}

#finance{
    background-color: #fff;
    font-family: 'SourceSansProBlack';
}

p{
    font-family: 'SourceSansProBlack';
    color: #5e5e5e;
}

h5{
    color: #011647d8;
}