
<section id="solution" class="py=2">
    <div class="container-fluid">
        <div class="row">
            <h3 class="text-center py-2 fs-1 fw-bold text-center" style="color: #001e67e0;">Nos Solutions</h3>
        </div>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="https://i.postimg.cc/Zqz1F5j6/VILLAGE-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">ENERGIE RENOUVELABLE</h5>
                      <p class="card-text ">Accès à l’électricité et à la
                        lumière via des panneaux
                        solaires</p>
                    </div>
                    
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://i.postimg.cc/52BPJqqF/Whats-App-Image-2022-05-04-at-08-06-35.jpg" class="card-img-top pb-2" alt="...">
                    <div class="card-body">
                      <h5 class="card-title py-2">INTERNET HAUT-DÉBIT</h5>
                      <p class="card-text  ">De 25 à 300 Mbps via LiFi
                        (brevet et propriété
                        intellectuelle déposée)</p>
                    </div>
                    
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://i.postimg.cc/Z54QCMqL/Whats-App-Image-2022-09-27-at-14-37-59.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">CONTENU MULTIMÉDIA</h5>
                      <p class="card-text ">Accès à l’information
                        pour les étudiants et les
                        agriculteurs</p>
                    </div>
                    
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

<section id="produit"  class="py-2">
    <div class="container-fluid">
        <div class="row">
            <h3 class="text-center py-2 fw-bold text-center fs-1" style="color: #fff;">Nos Produits</h3>
        </div>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="https://i.postimg.cc/Lsfm2WQ3/ampoule.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">SMART LAMPE LED LIFI</h5>
                      <button type="button" class="btn btn-warning py-2">Voir plus</button>
                    </div>
                   
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://i.postimg.cc/fb4h2KWt/kit.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title py-5">KIT SOLAIRE INDIVIDUEL LIFI</h5>
                      <button type="button" class="btn btn-warning py-2">Voir plus</button>
                    </div>
                   
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://i.postimg.cc/sgGr48zC/lampadaire-I.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">LAMPADAIRE AUTONOME SOLAIRE
                        INTELLIGENT</h5>
                        <button type="button" class="btn btn-warning py-2">Voir plus</button>
                    </div>
                   
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

<section id="Activity" class="py=2">
  <div class="container-fluid">
      <div class="row">
          <h3 class="text-center py-2 fw-bold text-center fs-1 " style="color: #fff;">Nos Activités</h3>
      </div>
      <div class="row">
          <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="https://i.postimg.cc/FRVmJL4f/BRAHIMAKRO.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title py-5">EN ZONE RURALE OU ENCLAVÉE</h5>
                    <p class="card-text "> UTILISATION PRODUCTIVE DE L’ÉNERGIE<br>
                      TÉLÉDIFFUSION<br>
                    INTERNET HAUT-DÉBIT</p>
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://i.postimg.cc/c4bKJVhp/light-trails-above-buildings.jpg" class="card-img-top " alt="...">
                  <div class="card-body">
                    <h5 class="card-title py-2">EN VILLE (SMART CITY)</h5>
                    <p class="card-text "> EFFICACITÉ ÉNERGÉTIQUE<br>
                      DÉTECTEURS DE MOUVEMENTS<br>
                      INTERNET HAUT-DÉBIT<br>
                      CAPTEURS IOT</p>
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://i.postimg.cc/mD2p8z91/Whats-App-Image-2022-05-04-at-08-05-58.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">COLLECTE DE DONNÉE ENVIRONEMENTAUX</h5>
                    <p class="card-text text-uppercase ">le taux de
                      carbone<br> le taux de pluviométrie<br> le taux d’ensoleillement <br>le taux de particules fines <br>
                      pour réduire le
                      réchauffement climatique. </p>
                  </div>
                  
                </div>
              </div>
            </div>
      </div>
  </div>
</section>



<section id="finance" class="py-5">
    <div class="container">
      <div class="row">
        <h3 class="text-center py-2 fs-1 fw-bold text-center" style="color: #001e67e0;">Nos Modalités de Paiement</h3>
      </div>

       

        
    </div>

</section>



